<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitime.admin.AdminDAO">

    <insert id="popup_write">
        insert into popup (
            user_id, title, start_date, end_date,
            position_top, position_left, position_right, position_bottom,
            popup_width, popup_height, use_toggle, file_name
        )
        values (
            #{user_id}, #{title}, #{start_date}, #{end_date},
            #{position_top}, #{position_left}, #{position_right}, #{position_bottom},
            #{popup_width}, #{popup_height}, #{use_toggle}, #{file_name}
        )
    </insert>
    
    <select id="getPopupList" resultType="com.fitime.dto.PopupDTO">
        SELECT
            popup_idx,
            user_id,
            title,
            start_date,
            end_date,
            position_top,
            position_left,
            position_right,
            position_bottom,
            popup_width,
            popup_height,
            use_toggle,
            file_name
        FROM popup
        ORDER BY popup_idx DESC
    </select>
    
	<update id="toggle">
	    UPDATE popup
	    SET use_toggle = NOT use_toggle
	    WHERE popup_idx = #{popup_idx}
	</update>
	
	<!-- 파일명 조회 -->
	<select id="getFileNameById" resultType="String">
	    SELECT file_name FROM popup WHERE popup_idx = #{popup_idx}
	</select>
	
	<!-- 팝업 수정 -->
	<update id="popupUpdate">
	    UPDATE popup
	    SET
	        title = #{title},
	        start_date = #{start_date},
	        end_date = #{end_date},
	        position_top = #{position_top},
	        position_right = #{position_right},
	        position_bottom = #{position_bottom},
	        position_left = #{position_left},
	        popup_width = #{popup_width},
	        popup_height = #{popup_height},
	        use_toggle = #{use_toggle},
	        file_name = #{file_name}
	    WHERE popup_idx = #{popup_idx}
	</update>
	
	<!-- 팝업 삭제 -->
	<delete id="popupDelete">
	    DELETE FROM popup WHERE popup_idx = #{popup_idx}
	</delete>
	
	<!-- 권한 아이디 검색 -->
	<select id="grant_search" resultType="com.fitime.dto.UserDTO" parameterType="List">
		SELECT *
		FROM user
		WHERE user_level = 1
		  AND user_id LIKE CONCAT(#{param1}, '%')
	</select>
	
	<!-- 권한부여 -->
	<update id="grant">
		UPDATE user 
		SET user_level = 4
		where user_id = #{param1}
	</update>
	
	<!-- 권한해제 -->
	<update id="revoke">
		UPDATE user 
		SET user_level = 1
		where user_id = #{param1}
	</update>
	
	<!-- 태그등록 -->
	<insert id="tag">
		insert into tag(tag_name,category) 
		values(#{tag_name},#{category})
	</insert>
	
	<!-- 태그리스트 출력 -->
	<select id="tag_list" resultType="com.fitime.dto.TagDTO">
		select * from tag where category = #{category}
	</select>
	
	<!-- 태그 업데이트 -->
	<update id="tag_update">
		UPDATE tag 
		SET tag_name = #{tag_name}, category = #{category}
		where tag_idx = #{tag_idx}
	</update>
	
	<!-- 태그삭제 -->
	<delete id="tag_del">
		DELETE FROM tag WHERE tag_idx = #{tag_idx}
	</delete>
	
	
	<!-- 블랙리스트 리스트 -->
	<select id="blacklist_list" resultType="com.fitime.dto.ComplaintDTO">
		select * from complaint
	</select>
	
	<select id="selectFileNamesByReportIdx" resultType="String">
    	SELECT file_name FROM file_image WHERE post_idx = #{report_idx}
	</select>
	
	<update id="blacklist_level">
		UPDATE user 
		SET user_level = 0
		where user_id = #{user_id}
	</update>
	
	<update id="setComplaintStatusDone">
	    UPDATE complaint 
	    SET status = '처리완료'
	    WHERE report_id = #{user_id}
	</update>
	
	<update id="blacklist_status">
		UPDATE complaint 
		SET status = #{params.status}
		where report_id = #{user_id}
	</update>

</mapper>