<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitime.center.CenterDAO">

	<!-- 상품등록 -->
    <insert id="product_insert" parameterType="com.fitime.dto.ProductDTO">
        insert into product (
            center_id,product_name,price,discount_rate,max_people,count,expiration_period,status
        )
        values (
            #{center_id},#{product_name}, #{price}, #{discount_rate}, #{max_people},
            #{count}, #{expiration_period}, '비활성'
        )
    </insert>
    
    <!-- 상품리스트 -->
    <select id="product_list" resultType="com.fitime.dto.ProductDTO">
    	select * from product where center_id = #{user_id}
    </select>
    
    <!-- 상품업데이트 -->
    <update id="product_update">
    UPDATE product SET 
        product_name = #{dto.product_name},
        price = #{dto.price},
        discount_rate = #{dto.discount_rate},
        max_people = #{dto.max_people},
        count = #{dto.count},
        expiration_period = #{dto.expiration_period}
    WHERE center_id = #{user_id}
      AND product_idx = #{product_idx}
	</update>
	
	<!-- 상태 업데이트 -->
	<update id="product_status">
	    UPDATE product SET status = NOT status where center_id = #{user_id} and product_idx = #{product_idx}
	</update>
		
	<insert id="complaint" parameterType="com.fitime.dto.ComplaintDTO" useGeneratedKeys="true" keyProperty="report_idx">
	    insert into complaint(report_id, admin_id, review_idx, report_text, reason, status, reg_date)
	    values(#{report_id}, #{admin_id}, #{review_idx}, #{report_text}, #{reason}, '미확인', #{reg_date})
	</insert>
	
	<insert id="insertFileImages" parameterType="java.util.List">
	    insert into file_image(report_idx, file_name, category)
	    values
	    <foreach collection="list" item="item" separator=",">
	        (#{item.report_idx}, #{item.file_name}, '신고')
	    </foreach>
	</insert>
	
	<select id="complaint_list" resultType="com.fitime.dto.ComplaintDTO">
		select * from complaint where admin_id = #{user_id}
	</select>
	
	<select id="selectFileNamesByReportIdx" resultType="String">
    	SELECT file_name FROM file_image WHERE report_idx = #{report_idx}
	</select>

	<select id="productList" resultType="com.fitime.dto.ProductDTO" parameterType="map">
		select * from product p
		join center_profile cp on p.center_id = cp.center_id
		where cp.center_id = #{center_id}
		<choose>
			<when test="exercise_level==1">
				and cp.exercise_level=1
			</when>
			<when test="exercise_level==2">
				and cp.exercise_level=2
			</when>
			<when test="exercise_level==3">
				and cp.exercise_level=3
			</when>
			<otherwise></otherwise>
		</choose>
	</select>

	<update id="statusUpdate">
		update product set status = !status
		where product_idx = #{param1}
	</update>
	
	<insert id="productInsert" parameterType="map">
		insert into product (
		center_id,trainer_id,product_name,price,discount_rate,
		<choose>
			<when test = "exercise_level==1">duration</when>
			<when test = "exercise_level==2">max_people</when>
			<when test = "exercise_level==3">count</when>
		</choose>
		) values(
		#{center_id},#{trainer_id},#{product_name},#{price},#{discount_rate},
		<choose>
			<when test = "exercise_level==1">#{duration}</when>
			<when test = "exercise_level==2">#{max_people}</when>
			<when test = "exercise_level==3">#{count}</when>
		</choose>
		)
	</insert>
	
</mapper>