<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitime.member.MemberMapper">
	<insert id="join" parameterType="map">
		INSERT INTO User(
			user_id
			,password
			,name
			,email
			,address
			,phone
			,age
			,gender
			,status
			,user_level
		)VALUES(
			#{user_id}
			,#{password}
			,#{name}
			,#{email}
			,#{address}
			,#{phone}
			,#{age}
			,#{gender}
			,#{status}
			,#{user_level})
	</insert>
	
	<select id="login" resultType="int" parameterType="map">
		SELECT COUNT(user_id) FROM User WHERE user_id=#{user_id} AND password=#{password}
	</select>
	
	<select id="get_level" resultType="int" parameterType="map">
		SELECT user_level FROM User WHERE user_id=#{user_id}
	</select>
	
	<select id="overlayId" resultType="int">
		SELECT COUNT(user_id) FROM User WHERE user_id=#{user_id}
	</select>
	
	<select id="overlayEmail" resultType="int">
		SELECT COUNT(email) FROM User WHERE email=#{param1}
	</select>
	
	<update id="unregiste" parameterType="map">
		UPDATE User SET
			password=''
			,name=''
			,email=''
			,address=''
			,phone=''
			,age=0
			,gender=''
			,status='탈퇴'
			,user_level=0
		WHERE user_id=#{user_id} AND password=#{password}
	</update>
	
	<select id="findId" resultType="String">
		SELECT user_id FROM User WHERE email=#{param1} AND status='활동'
	</select>
	
	<select id="findPw" resultType="String" parameterType="map">
		SELECT password FROM User WHERE user_id=#{user_id} AND name=#{name} AND email=#{email} AND status='활동'
	</select>
	
	
</mapper>