<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitime.payment.PaymentDAO">

	<insert id="paymentInsert" parameterType="com.fitime.dto.PaymentDTO">
		insert into payment (user_id, product_idx, payment_price, payment_method)
		values (#{user_id},#{product_idx},#{payment_price},#{payment_method})
	</insert>

	<insert id="buyListInsert" parameterType="com.fitime.dto.PaymentDTO">
		insert into buy_List(user_id, product_idx)
		values (#{user_id},#{product_idx})
	</insert>

	<update id="paymentCancel">
		update payment set status = '취소' where payment_idx = #{param1}
	</update>

	<delete id="buyListDel">
		delete from buy_List where payment_idx = #{param1}
	</delete>
	
	<insert id="kakaoReady" parameterType="map">
		insert into kakao (tid, user_id, total_amount, pg_token, created_at)
		values (#{tid}, #{user_id}, #{total_amount}, #{pg_token},#{created_at})
	</insert>
	
	<update id="kakaoApprove" parameterType="map">
		update kakao set order_id = #{partner_order_id}, item_name= #{item_name}, status = '결제' where tid=#{tid}
	</update>
	
</mapper>