<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitime.profile.ProfileDAO">

	<insert id="profileSave">
		insert into profile_file (user_id,file_name,category)
		values(#{param1},#{param2},'프로필')
	</insert>
	
	<update id="profileUpdate">
		update profile_file set file_name = #{param2} where user_id = #{param1}
	</update>
	
	<select id="profileSearch" resultType="int" parameterType="String">
		select count(user_id) from profile_file where user_id = #{param1} and category = '프로필'
	</select>
	
	<insert id="ImgSave">
		insert into profile_file (user_id,file_name,category)
		values(#{param1},#{param2},'이미지')
	</insert>
	
	<select id="ImgSearch" resultType="String">
		select file_name from profile_file where user_id = #{param1} and category = '이미지';
	</select>
	
	<delete id="ImgDel">
		delete from profile_file where user_id =#{param1} and category = '이미지'
	</delete>
	
	<select id="getFileNames" resultType="String">
		select file_name from profile_file where user_id = #{param1} and cetegory = '이미지'
	</select>

	<select id="getFileName" resultType="String">
		select file_name from profile_file where user_id = #{param1} and category = '프로필'
	</select>
	
	<update id="updateUserProfile" parameterType="map">
		update user set password = #{password},
		email = #{email},
		address = #{address},
		phone = #{phone}
		where user_id = #{user_id}
	</update>
	
	<insert id="insertTag">
		insert into user_tag (user_id,tag_idx)
		values
		<foreach collection="tags" item="tag" separator=",">
		 (#{user_id},#{tag})
		</foreach>
	</insert>
	
	<delete id="delTag">
		delete from user_tag where user_id = #{param1}
	</delete>
	
	<update id="updateTrainerProfile" parameterType="map">
		update user join trainer_profile tp on user.user_id = tp.trainer_id
		set password = #{password},
		email = #{email},
		address = #{address},
		phone = #{phone},
		center_idx = #{center_idx},
		career = #{career}
		where user.user_id =#{trainer_id}
	</update>

	<update id="updateCenterProfile" parameterType="map">
		update center_profile set center_name = #{center_name}, 
		introduction = #{introduction}, 
		account_number = #{account_number},
		operation_hours = #{operation_hours},
		phone = #{phone},
		address = #{address},
		latitude = #{latitude},
		longitude = #{longitude},
		exercise_level = #{exercise_level},
		exercise = #{exercise}
		where center_id = #{center_id}
	</update>
	
	<select id="detailUserProfile" resultType="map" parameterType="String">
		select * from user where user_id = #{param1}
	</select>

	<select id="detailTrainerProfile" resultType="map" parameterType="String">
		select * from user join trainer_profile tp ON user.user_id = tp.trainer_id 
		where tp.trainer_id = #{param1}
	</select>
	
	<select id="detailCenterProfile" resultType="map" parameterType="String">
		select * from user join center_profile cp ON user.user_id = cp.center_id 
		where center_id = #{param1}
	</select>
	
	<delete id="delProfileImg">
		delete from profile_file where user_id = #{param1} and category = '프로필'
	</delete>

	<select id="photoList" parameterType="String" resultType="com.fitime.dto.Profile_fileDTO">
		select * from profile_file where user_id = #{param1} and category = '이미지'
	</select>
	
	<select id="getImg" resultType="map">
		select * from profile_file where profile_file_idx = #{param1}
	</select>
	
	<select id="getTags" parameterType="String">
		select tag_name from user_tag ut join tag t ON ut.tag_idx = t.tag_idx where ut.user_id = #{param1}
	</select>

</mapper>