<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitime.research.ResearchDAO">

	<select id="searchLocation" resultType="map" parameterType="map">
		select
		cp.center_name,
		cp.address ,
		(select min(p.price)
		from product p
		where p.center_id=cp.center_id)as price,
		(select avg(r.rating)
		from review r
		where r.target_id=cp.center_id)as rating,
		(select concat('[',group_concat(concat('"',t.tag_name,'"')),']')
		from user_tag ut join tag t on ut.tag_idx=t.tag_idx
		where ut.user_id=cp.center_id)as tags,
		(select count(r.review_idx)
		from review r
		where r.target_id=cp.center_id) as review_cnt,
		(select file_name
		from profile_file pf
		where pf.user_id=cp.center_id) as file_name 
		from center_profile cp
		where cp.sido = #{sido}
		and cp.gugun = #{gugun}
		and cp.eupmyeondong = #{eupmyeondong}
		<if test="exercise !=null and exercise !=''">
			and cp.exercise = #{exercise}
		</if>
		<if test = "tags != null and tags.size() > 0">
			and exists(
				select 1
				from user_tag ut
				join tag t on ut.tag_idx = t.tag_idx
				join user u on ut.user_id = u.user_id
				where t.tag_name IN
				<foreach 
				item="tag" 
				collection="tags" 
				open="(" 
				separator=","
				close=")">
				#{tag}
				</foreach>
			)
		</if>
		<choose>
			<when test="orderBy == 'rating'">
				order by rating desc
			</when>
			<when test="orderBy == 'price'">
				order by price asc
			</when>
			<otherwise>
				order by cp.center_id desc
			</otherwise>
		</choose>
	</select>

	<select id="searchTrainer" resultType="map" parameterType="map">
		select 
		cp.center_name ,
		cp.exercise ,
		cp.latitude ,
		cp.longitude ,
		(select pf.file_name from profile_file pf where pf.user_id=tp.trainer_id) as file_name,
		(select avg(r.rating) from review r where r.target_id = tp.trainer_id) as rating ,
		(select count(r.review_idx) from review r where r.target_id=tp.trainer_id) as review_cnt,
		(select min(p.price) from product p where p.trainer_id=tp.trainer_id) as price,
		(select name from `user` u where u.user_id=tp.trainer_id) as name,
		(select concat('[',group_concat(concat('"',t.tag_name,'"')),']') from user_tag ut
		join tag t on ut.tag_idx=t.tag_idx where ut.user_id=tp.trainer_id) as tags
		from trainer_profile tp 
		join center_profile cp on cp.center_idx = tp.center_idx
		join user u on tp.trainer_id = u.user_id
		where cp.sido = #{sido}
		and cp.gugun = #{gugun}
		and cp.eupmyeondong = #{eupmyeondong}
		<if test = "exercise != null and exercise != '' and exercise !='전체'">
			and cp.exercise = #{exercise}
		</if>
		<if test = "gender != null and gender != ''">
			and u.gender = #{gender}
		</if>
		<if test = "minRating != null and minRating !=''">
			and (select avg(r.rating) from review r where r.target_id = tp.trainer_id) >= #{minRating}
		</if>
		<if test = "tags != null and tags.size() > 0">
			and exists(
				select 1
				from user_tag ut
				join tag t on ut.tag_idx = t.tag_idx
				join user u on ut.user_id = u.user_id
				where t.tag_name IN
				<foreach 
				item="tag" 
				collection="tags" 
				open="(" 
				separator=","
				close=")">
				#{tag}
				</foreach>
			)
		</if>
		<choose>
			<when test = "orderBy == 'price'">
				order by price asc
			</when>
			<otherwise>
				order by rating desc
			</otherwise>
		</choose>
	</select>

	<select id="trainerName" parameterType="map" resultType="map">
		select 
		u.name,
		cp.center_name ,
		cp.exercise,
		(select avg(r.rating) from review r where r.target_id=tp.trainer_id) as rating,
		(select count(r.review_idx) from review r where r.target_id=tp.trainer_id) as cnt,
		(select file_name from profile_file pf where pf.user_id = tp.trainer_id) as file_name,
		(select min(price) from product p where p.trainer_id = tp.trainer_id) as min_price,
		(select concat('[',group_concat(concat('"',t.tag_name,'"')),']')
		from user_tag ut join tag t on ut.tag_idx=t.tag_idx where ut.user_id=tp.trainer_id) as tags
		from user u
		join trainer_profile tp on tp.trainer_id = u.user_id
		join center_profile cp on cp.center_idx = tp.center_idx 
		where u.user_level = 2
		and BINARY tp.trainer_id like concat('%',#{param1},'%')
		limit 5 offset #{param2}
	</select>

	<select id="centerName" parameterType="map" resultType="map">
		select 
		cp.center_name,
		cp.address,
		(select avg(r.rating) from review r where r.target_id = cp.center_id)as rating,
		(select count(r.review_idx) from review r where r.target_id = cp.center_id)as cnt, 
		(select file_name from profile_file pf where pf.user_id=cp.center_id) as file_name,
		(select min(price) from product p where p.center_id = cp.center_id)as price,
		(select concat('[',group_concat(concat('"',t.tag_name,'"')) ,']') 
		from user_tag ut join tag t on ut.tag_idx = t.tag_idx
		where ut.user_id = cp.center_id)as tags
		from user u
		join center_profile cp on u.user_id = cp.center_id
		where u.user_level = 3
		and binary cp.center_id like concat('%',#{param1},'%')
		limit 5 offset #{param2}
	</select>
	
	<select id="cityList" resultType="String">
		select distinct sido from center_profile
	</select>
	
	<select id="districtList" resultType="String" parameterType="map">
		select distinct gugun from center_profile where sido = #{sido}
	</select>
	
	<select id="neighborhoodList" resultType="String" parameterType="map">
		select distinct eupmyeondong from center_profile where sido = #{sido} and gugun = #{gugun}
	</select>

</mapper>