<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitime.Review.ReviewDAO">

	<select id="pages" resultType="int">
		SELECT CEIL(COUNT(review_idx) / 10) AS pages FROM review;
	</select>

    <select id="totalPage" resultType="int">
        SELECT COUNT(*) FROM review
    </select>
    
	<select id="listReview" parameterType="com.fitime.dto.ReviewDTO" >
		SELECT review_idx, user_id ,target_id ,rating ,content ,reg_date FROM review ORDER BY review_idx DESC LIMIT 10 offset #{param1};
	</select>

	<select id="detailReview" parameterType="com.fitime.dto.ReviewDTO">
	    SELECT * FROM review WHERE review_idx = #{review_idx}
	</select>

    <insert id="insertReview" parameterType="com.fitime.dto.ReviewDTO" >
        INSERT INTO review (user_id, target_id,reservation_idx,rating, content)
        VALUES (#{dto.user_id},#{dto.target_id},#{dto.reservation_idx},#{dto.rating}, #{dto.content})
    </insert>
    
    <select id="overayReview" resultType="int" parameterType="com.fitime.dto.ReviewDTO">
   	 	SELECT COUNT(review_idx) FROM review WHERE reservation_idx = #{reservation_idx} AND target_id = #{target_id};
    </select>
    
    
    <delete id="delReview" parameterType="com.fitime.dto.ReviewDTO">
  		DELETE FROM review WHERE review_idx = #{review_idx};
    </delete>
	
	<update id="updateReview" parameterType="com.fitime.dto.ReviewDTO">
		UPDATE review SET rating = #{rating}, content = #{content} ,reg_date = #{reg_date}
			WHERE review_idx = #{review_idx};
	</update>
	
	
</mapper>